*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
}
.container{
    max-width: 1200px;
    height: 70px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: white ;
}
.image{
    height: 400px;
    width: 100%;
    overflow: hidden;
    border-radius: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.image img:hover{
    transform: scale(1.1);
}

.btn-container{
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    align-items: center;
    gap: 20px;
}
.btn{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    align-items: center;
    text-transform: uppercase;
    text-decoration: solid;
    display: flex;
    transition:color green 0.5s ease;
}