*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: white ;
}
.btn{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    text-transform: uppercase;
    text-decoration: solid;
    display: flex;
    transition:color green 0.3s ease;
}