* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: black;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 18px 60px;
}

nav h1 {
    color: black;
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: blue;
    font-size: 18px;
    letter-spacing: 2px;
}

/* CARD GRID */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 40px;
}

/* CARD BOX */
.card {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #222;
    position: relative;
}

.card h3 {
    color: #ff4a4a;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 5px;
}

.rating {
    position: absolute;
    right: 15px;
    top: 15px;
    color: gold;
}

.card img {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    object-fit: cover;
    margin: 10px 0;
}

.card p {
    font-size: 13px;
    margin-bottom: 15px;
}

/* BUTTON */
button {
    background: red;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #ff7b7b;
}

/* FOOTER */
footer {
    background: white;
    color: black;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}

.about-section {
    height: 100vh;
    width: 100%;
    padding: 60px;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}
.about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.about-section p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
.about-content {
    padding: 60px;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}
.about-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.about-content p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
.bar {
    height: 100px;
    width:100%;
    background-color: white;
    padding: 18px 60px;
}