*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
#main{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#navbar{
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-between;
    padding : 10px;
}
#navlinks a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-weight: bold;
}  
#content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: calc(100vh - 120px);    
    overflow-y: auto;

} 
#box1, #box2, #box3{
    width: calc(100px + 2 * 10px);
    height: calc(100px + 2 * 10px);
    background-color: lightblue;
    border: 5px solid blue;
    border-radius: 8px;
}
#box2, #box1, #box3, img{
    width: 200px;
    height: 200px;
    border-radius: 8px;

}