*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
#table{
    padding: auto;
    border: 2px solid black;
    background-color: grey;
    color: red;
}