*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#navbar{
    height: 80px;
    width: 100%;
    background-color: rgb(19, 16, 16);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    word-spacing: 20px;
    text-decoration: none;
    text-underline-offset: none;
}
#navbar ul li{
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#navbar ul li:hover{
    color: yellow;
}
#content{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#sampleImage{
    width: 300px;
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
}
#myButton{
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#myButton:hover{
    background-color: rgb(255, 217, 0);
}

#footer{
    height: 50px;
    width: 100%;
    background-color: rgb(194, 26, 26);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
#footer:hover{
    background-color: rgb(27, 25, 25);
}
