*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#navbar{
    height: 80px;
    width: 100%;
    background-color: rgb(19, 16, 16);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    word-spacing: 20px;
    text-decoration: none;
    text-underline-offset: none;
}
#navbar ul li{
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#navbar ul li:hover{
    color: yellow;
}
#form{
    height: 550px;
    width: 100%;
    background-color: rgb(194, 26, 26);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
#form input{
    height: 100px;
    width: 200px;
    margin: 10px 0;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    color: greenyellow;

}
#form input[type="submit"]{
    background-color: rgb(19, 16, 16);
    color: white;
    cursor: pointer;
}
#form input[type="submit"]:hover{
    background-color: rgb(27, 25, 25);
}




#footer{
    height: 50px;
    width: 100%;
    background-color: rgb(194, 26, 26);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
#footer:hover{
    background-color: rgb(27, 25, 25);
}


