*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: #333; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.container{
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
}   