*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#heder{
    height: 80px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    
}
#nav{
   border: 1px solid var(--gray);
   width: fit-content;
   margin: 0 auto;
   a{
    display: inline-block;
    padding: 20px 50px;
    color: black;
    text-decoration: none;
    
   }

}