*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}
.nav{
    height: 80px;
    width: 100%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 10px 40px;
    z-index: 1000;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-align: center;
    padding: 0 20px;
    
}