*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: #000;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
}

#navigation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
#navigation h1{
    font-size: 24px;
    color: #333;
}
#content{
    padding-top: 10px;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    text-align: justify;

}
