*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

}
#main{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #2980b9, #8e44ad);
}
#navbar{
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
#navbar h2{
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;

}
#navbar a{
    color:black;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}
#Home{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}
#Contacts, #About, #Services{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}
#Contacts h1, #About h1, #Services h1, #Home h1{
    font-size: 40px;
    margin-bottom: 20px;
}
#Contacts p, #About p, #Services p, #Home p{
    font-size: 20px;
    max-width: 600px;
    line-height: 1.6;
}
#footer{
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0;
}

