*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    color: #000;
    background: #d80707;
    font-weight: bold;
    height: 80px;
    h1{
        color: aqua;
        justify-content: center;
        padding: 10px;
    };
    nav{
        color: black;

    }
}
