*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    color: #000;
    background: #5949d7;
    font-weight: bold;
    height: 80px;
    h1{
        color: aqua;
        justify-content: center;
        padding: 10px;
    };
    nav{
        color: black;

    }
}
.container nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}
.container nav ul li{
    padding: 10px;
}
.containt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container .content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer{
    background: #5949d7;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 80px;
    height: 80px;
    color: rgb(0, 6, 6);
}
.container .footer p{
    margin: 0;
}
